body, html {
    font-family:"Playfair Display";
    color:white;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
.container {
    background-color:rgb(9, 9, 9);
}

#navbar2{
    width:100%; 
    /*box-shadow: 0 0.3px 10px 10px rgb(7, 7, 7, 0.3);*/
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
    background-color: black;
}

#navbar{
    width:100%; 
    /*box-shadow: 0 0.3px 10px 10px rgb(7, 7, 7, 0.3);*/
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
}

#navbar:hover {
    background-color: black;
    transition: 0.3s;
    box-shadow: none;
}

.items {
    display:flex;
}

.item {
    /* margin-left:20px; */
    /* padding:20px; */
    margin:0;
    padding:35px;
    transition:.33s;
    

}

.items img {
    width: 60px;
    padding: 20px;
}

#italic{
    font-style: italic;
}

.blueHover:hover{
    color:#2562d8;
    transition:.33s
}

.blueActive{
    color: #2562d8;
    
}

.goldHover:hover{
    color:#f4d45e;
    transition:.33s
}

.goldActive{
    color: #f4d45e;
}


.fs-container{
    display:flex;
    height:100vh;
    width:100%;

}




.half {
    width:50%;
}



.first-text{
    position:relative;
    top:30%;
    transform:translate(0,-50%);
    padding:50px;
}
.second-text{
    position:relative;
    padding:50px;
}
.third-text{
    position:relative;
    top: 50%;
    transform:translate(0,-50%);
    padding:50px;
}

.first-text h1 {
    font-size:36px;
}
.first-text p {
    font-size:18px;
}

.img-half{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.blue{
    color:#2562d8;
}

.gold {
    color:#f4d45e;
}

img {
    width:100%;
    height:100%;
}

#border {
    border:1px solid white;
    /* width:50%; */
}

.row {
    display: flex;
}

.class {
    width:500px;
    /* height:350px; */
    padding:20px;
    background: rgb(16, 16, 16);
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    transition:1s;
}

.class h1{
    /* margin:20px; */
}
.class p{
    /* margin:20px; */
}


.class h1 {
    font-size:18px;

}

.class p {
    font-size:12px;

}

.class:hover{
    transform:translateY(-10px);
    transition:1s;
}

button {
    background-color: transparent;
    color:white;
    font-family:"Playfair Display";
    font-size:15px;
    border:none;
    padding:5px 10px;
    transition:1s;
}

button:hover{
    background-color:rgb(7, 7, 7);
    transition:1s;
}

#indexbtn {
    background: #2562d8;
    color: white;
    font-family: 'Oxygen', sans-serif;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgb(7, 7, 7, 0.5);
    transition: 0.3s;
}

#indexbtn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

a{
    text-decoration: none;
    color:white;
}

.background-img {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.first-section {
    position: absolute;
    z-index: 10;
    background-color:rgb(7, 7, 7, 0.3);
    height: 100vh;
    width: 100%;
}

.second-section {
    background-color: #23222c;
    height: 80vh;
}

.third-section {
    background: #10254f;
    position: relative;
    height: 100vh;
}

table {
    padding: 30px;
}

th {
    padding: 0 40px 0 40px;
}

/* ABOUT.HTML CSS BELOW */
.info {
    padding: 20px;
}

.about {
    margin:50px;
}

.about-container{
    height:100%;
    width:100%;
    margin:50px;
}

.staff-row{
    /* margin:30px; */
    display:flex;
    width:100%;
    height:auto;
}

/* .staff-members{
    display: flex;
} */

p#title {
    font-size:18px;
}
.member {
    width:30%;
    margin: 25px 3% 0 0;
    padding: 30px;
    background-color: rgb(34, 32, 81);
    height: 80vh;
    overflow: scroll;
}

.member::-webkit-scrollbar {
    display: none;
}

.member img {
    width:200px;
    height:200px;
}