body, html {
    font-family:"Playfair Display";
    color:white;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    line-height: 2em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar2{
    width:100%; 
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
    background-color: black;
}

#navbar{
    background-color: black;
    width:100%; 
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em;
}

.items {
    display:flex;
}

.item {
    /* margin-left:20px; */
    /* padding:20px; */
    margin:0;
    padding:35px;
    transition:.33s;
    

}

.items img {
    width: 60px;
    padding: 20px;
}

#italic{
    font-style: italic;
}

.blueHover:hover{
    color:#2254f2;
    transition:.33s
}

.blueActive{
    color: #2254f2;
    
}

.goldHover:hover{
    color:#efd471;
    transition:.33s
}

.goldActive{
    color: #efd471;
}


.fs-container{
    display:flex;
    height:100vh;
    width:100%;
}

.half {
    width:45%;
}

.first-text {
    position: relative;
    top: 30%;
    transform: translate(50%, -50%);
    padding: 50px;
}

.first-text-index{
    position:relative;
    top:30%;
    transform:translate(50%, -45%);
    width: 50%;
    text-align: center;
    overflow: hidden;
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.first-text-index h1{
    font-size: 3em;
    background: #2562d8;
    padding: 15px;
    width: 75%;
    margin: auto;
}
.first-text-index p {
    background: rgb(37, 98, 216, 0.45);
    padding: 15px;
    border-radius: 20px;
}

.second-text{
    position:relative;
    padding:50px;
    transform: translateX(5%);
}
.third-text{
    position:relative;
    top: 50%;
    padding:50px;
}

.first-text h1 {
    font-size:36px;
}
.first-text p {
    font-size:18px;
}

.img-half{
    margin: 20px;
    width: 60%;
}

.blue{
    color:#2562d8;
}

.gold {
    color:#f4d45e;
}

img {
    width:100%;
    height:auto;
}

#border {
    border:1px solid white;
    /* width:50%; */
}

.row {
    display: flex;
}

.class {
    width:500px;
    /* height:350px; */
    padding:20px;
    background: rgb(16, 16, 16);
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    transition:1s;
}

.class h1 {
    font-size:18px;

}

.class p {
    font-size:12px;

}

.class:hover{
    transform:translateY(-10px);
    transition:1s;
}

button {
    background-color: transparent;
    color:white;
    font-family:"Playfair Display";
    font-size:15px;
    border:none;
    padding:5px 10px;
    transition:1s;
}

button:hover{
    background-color:rgb(7, 7, 7);
    transition:1s;
}

#indexbtn {
    background: #2562d8;
    color: white;
    font-family: 'Oxygen', sans-serif;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgb(7, 7, 7, 0.5);
    transition: 0.3s;
}

#indexbtn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

a{
    text-decoration: none;
    color:white;
}

.background-img {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.first-section {
    position: absolute;
    z-index: 10;
    background-color:rgb(7, 7, 7, 0.3);
    height: 100vh;
    width: 100%;
}

.first-section-index {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background:rgb(7, 7, 7, 0.25);
}

.first-section-about {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
}

.first-section-index a {
    color: black;
}

#navbar a {
    color: white;
}

.second-section {
    background-color: white;
    color: black;
    height: auto;
    display: flex;
    width: 100%;
}

.third-section {
    background: #10254f;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    padding: 30px;
}

th {
    padding: 0 40px 0 40px;
}

/* ABOUT.HTML CSS BELOW */
.info {
    padding: 20px;
}

.about {
    margin:50px;
}

.about-container{
    height:100%;
    width:100%;
    margin:50px;
}

.staff-row{
    /* margin:30px; */
    display:flex;
    width:100%;
    height:auto;
}

/* .staff-members{
    display: flex;
} */

p#title {
    font-size:18px;
}
.member {
    width:25%;
    margin: 25px 3% 0 0;
    padding: 30px;
    background-color: white;
    color: black;
    height: 70vh;
    overflow-y: auto;
}

.member::-webkit-scrollbar {
    width: 5px;
    color: black;
}

.member::-webkit-scrollbar-thumb {
    border-radius:5px;
    background-color: rgb(121, 121, 121);
}

.member img {
    width:200px;
    height:200px;
}

.fourth-section {
    background-color: white;
    color: black;
    height: auto;
    padding: 20px;
}

.box-container {
    width: 65%;
    transform: translate(5%);
    height: auto;
    margin: auto;
}

.box {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 0 10px 0;
    display: inline-block;
    padding: 10px;
}

.title h2 {
    color: black;
}

.title {
    width: 65%;
    float: left;
}

.img {
    width: 30%;
    float: right;
}

.blog-author {
    color: #ed1c1c;
}

.about-first-section {
    height: auto;
    background-color: white;
    color: black;
    display: flex;
}

.about-image {
    width: 50%;
    margin: 30px;
}

.card-row {
    display: flex;
    margin: 20px;
    transform: translateX(5%);
    width: 90vw;
}

.card {
    width: 40%;
    margin: 10px 40px 10px 10px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 5px solid rgb(163, 244, 255);
    box-shadow: 0 5px 10px 0 black;
}

.workshop-info {
    color: black;
    padding: 30px;
    transform: translateX(5%);
    width: 70%;
}

.workshop-text{
    position:relative;
    top:30%;
    transform:translate(5%,-50%);
    padding:20px;
    color: white;
    border-radius: 30px;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.testimonials-container {
    width: 95%;
    padding: 10px;
    display: flex;
}

.testimonials {
    width: 40%;
    margin: 20px;
    color: black;
    border-radius: 20px;
    border-bottom: 5px solid rgb(163, 244, 255);
    box-shadow: 0 5px 10px 0 black;
    padding: 20px;
}

mark {
    background-color: rgb(253, 255, 207);
}

.first-text-contribute {
    width: 100%;
    height: auto;
    transform: translate(0%, 60%);
    text-align: center;
}

.first-text-contribute h1 {
    font-size: 5em;
}

.second-section-contribute {
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: black;
}

.card-contribute-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-contribute {
    width: 20%;
    margin: 0 90px 0 90px;
    text-align: center;
    color: black;
}

.contribute-box-container {
    width: 100%;
    display: flex;
    color: black;
    background: #e8ebe6;
    font-size: 1.1em;
}

.contribute-box1 {
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 30px;
}

.contribute-form {
    height: auto;
    text-align: center;
    transform: translateX(0%);
    padding: 50px;
}

.contribute-form::-webkit-scrollbar {
    display: none;
}

.stats-section {
    height: auto;
    align-items: center;
    justify-content: center;
    color: black;
    background:#f4d45e;
    padding: 40px;
}

.stats {
    width: 30%;
    margin: 0 90px 20px 90px;
    align-items: center;
    text-align: center;
}

.stats h1 {
    font-size: 6em;
}

.first-text-about {
    position:relative;
    transform:translateY(30%);;
    width: 50%;
    text-align: center;
    overflow: hidden;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.2em;
}

.first-text-about h1 {
    font-size: 3em;
}